/Accessory.java
/Address.java
/Amount.java
/Base.java
/Car.java
/CarManufacturer.java
/CascadeNo.java
/CascadeRoot.java
/CascadeYes.java
/ConfigDetailDefinition.java
/Convertible.java
/Currency.java
/Customer.java
/Item.java
/Length.java
/NumberedWithDescription.java
/PaymentTerm.java
/Pickup.java
/Price.java
/Quantity.java
/RoofType.java
/SiType.java
/UOMFamily.java
/UnitOfMeasure.java
/Weight.java
