/com.compex.ccng.sample.supplier.model.dtos.mapper.AddressDtoMapper.xml
/com.compex.ccng.sample.supplier.model.dtos.mapper.BaseUUIDDtoMapper.xml
/com.compex.ccng.sample.supplier.model.dtos.mapper.ContactDtoMapper.xml
/com.compex.ccng.sample.supplier.model.dtos.mapper.SupplierDtoMapper.xml
/com.compex.ccng.sample.supplier.model.dtos.services.AddressService.xml
/com.compex.ccng.sample.supplier.model.dtos.services.BaseUUIDService.xml
/com.compex.ccng.sample.supplier.model.dtos.services.ContactService.xml
/com.compex.ccng.sample.supplier.model.dtos.services.SupplierService.xml
/org.lunifera.samples.carstore.dtos.services.AccessoryService.xml
/org.lunifera.samples.carstore.dtos.services.AddressService.xml
/org.lunifera.samples.carstore.dtos.services.BaseUUIDService.xml
/org.lunifera.samples.carstore.dtos.services.CarService.xml
/org.lunifera.samples.carstore.dtos.services.ConfigDetailService.xml
/org.lunifera.samples.carstore.dtos.services.ConvertibleService.xml
/org.lunifera.samples.carstore.dtos.services.CurrencyService.xml
/org.lunifera.samples.carstore.dtos.services.CustomerService.xml
/org.lunifera.samples.carstore.dtos.services.ItemService.xml
/org.lunifera.samples.carstore.dtos.services.LengthService.xml
/org.lunifera.samples.carstore.dtos.services.PaymentTermService.xml
/org.lunifera.samples.carstore.dtos.services.PickupService.xml
/org.lunifera.samples.carstore.dtos.services.PriceService.xml
/org.lunifera.samples.carstore.dtos.services.SODetailService.xml
/org.lunifera.samples.carstore.dtos.services.SalesOrderService.xml
/org.lunifera.samples.carstore.dtos.services.UnitOfMeasureService.xml
/org.lunifera.samples.carstore.dtos.services.WeightService.xml
