<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="org.lunifera.samples.carstore.dtos.mapper.accessorydtomapper">
       <implementation class="org.lunifera.samples.carstore.dtos.mapper.AccessoryDtoMapper"/>
       <service>
		<provide interface="org.lunifera.dsl.dto.lib.IMapper"/>
	   </service>
       <property name="dto" type="String" value="org.lunifera.samples.carstore.dtos.AccessoryDto"/>
       <property name="entity" type="String" value="org.lunifera.samples.carstore.Accessory"/>
       <property name="service.pid" type="String" value="org.lunifera.samples.carstore.dtos.mapper.accessorydtomapper"/>
       <reference name="bind" interface="org.lunifera.dsl.dto.lib.IMapperAccess" 
       		cardinality="1..1" policy="static" bind="bindMapperAccess" unbind="unbindMapperAccess"/>
</scr:component>
