/AccessoryService.java
/BaseService.java
/CarManufacturerService.java
/CarService.java
/CascadeNoService.java
/CascadeRootService.java
/CascadeYesService.java
/ConfigDetailDefinitionService.java
/ConvertibleService.java
/CurrencyService.java
/CustomerService.java
/PaymentTermService.java
/PickupService.java
/UnitOfMeasureService.java
