<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="CarstoreProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.lunifera.vaaclipse.addons.app.application"
            name="CarstoreProduct">
      	 <property
               name="applicationXMI"
               value="org.lunifera.vaaclipse.addons.application/Application.e4xmi">
         </property>
         <property
               name="applicationWidgetset"
               value="platform:/plugin/org.lunifera.samples.carstore.widgetset/VAADIN/widgetsets/org.lunifera.samples.carstore.widgetset.CarstoreWidgetset">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="vaadin.productionMode"
               value="false">
         </property>
         <property
               name="vaadin.disable-xsrf-protection"
               value="true">
         </property>
         <property
               name="cssTheme"
               value="reindeer">
         </property>
         <property
               name="applicationHeaderIcon"
               value="org.lunifera.samples.carstore.bootstrap/images/16x16_Carstore.png">
         </property>
         <property
               name="appName"
               value="CarstoreProduct">
         </property>
      </product>
   </extension>
</plugin>
