<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="org.lunifera.samples.carstore.dtos.general.mobile.mapper.accessorymobiledtomapper">
       <implementation class="org.lunifera.samples.carstore.dtos.general.mobile.mapper.AccessoryMobileDtoMapper"/>
       <service>
		<provide interface="org.lunifera.dsl.dto.lib.IMapper"/>
	   </service>
		<property name="dto" type="String">org.lunifera.samples.carstore.dtos.general.mobile.AccessoryMobileDto
		org.lunifera.samples.carstore.dtos.general.mobile.ItemMobileDto
		org.lunifera.samples.carstore.dtos.general.NumberedWithDescriptionDto
		org.lunifera.samples.carstore.dtos.general.BaseDto
		</property>
		
       <property name="entity" type="String" value="org.lunifera.samples.carstore.entities.general.Accessory"/>
       <property name="service.pid" type="String" value="org.lunifera.samples.carstore.dtos.general.mobile.mapper.accessorymobiledtomapper"/>
       <reference name="bind" interface="org.lunifera.dsl.dto.lib.IMapperAccess" 
       		cardinality="1..1" policy="static" bind="bindMapperAccess" unbind="unbindMapperAccess"/>
</scr:component>
