<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="org.lunifera.samples.carstore.dtos.general.mapper.amountdtomapper">
       <implementation class="org.lunifera.samples.carstore.dtos.general.mapper.AmountDtoMapper"/>
       <service>
		<provide interface="org.lunifera.dsl.dto.lib.IMapper"/>
		  </service>
		  
		<property name="fordto.from.entity" type="String" value="org.lunifera.samples.carstore.entities.general.Amount"/>
		<property name="fordto.to.dto" type="String" value="org.lunifera.samples.carstore.dtos.general.AmountDto"/>

		<property name="forentity.from.dto" type="String" value="org.lunifera.samples.carstore.dtos.general.AmountDto"/>
		<property name="forentity.to.entity" type="String" value="org.lunifera.samples.carstore.entities.general.Amount"/>
		
		<property name="service.pid" type="String" value="org.lunifera.samples.carstore.dtos.general.mapper.amountdtomapper"/>
		<reference name="mapperAccess" interface="org.lunifera.dsl.dto.lib.IMapperAccess" 
				cardinality="1..1" policy="static" bind="bindMapperAccess" unbind="unbindMapperAccess"/>
</scr:component>
