<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="org.lunifera.samples.carstore.dtos.generaly.mapper.carmanufacturerydtomapper">
       <implementation class="org.lunifera.samples.carstore.dtos.generaly.mapper.CarManufactureryDtoMapper"/>
       <service>
		<provide interface="org.lunifera.dsl.dto.lib.IMapper"/>
		  </service>
		  
		<property name="fordto.from.entity" type="String" value="org.lunifera.samples.carstore.entities.generaly.CarManufacturery"/>
		<property name="fordto.to.dto" type="String">org.lunifera.samples.carstore.dtos.generaly.CarManufactureryDto
		org.lunifera.samples.carstore.dtos.generaly.BaseyDto
		</property>

		<property name="forentity.from.dto" type="String" value="org.lunifera.samples.carstore.dtos.generaly.CarManufactureryDto"/>
		<property name="forentity.to.entity" type="String">org.lunifera.samples.carstore.entities.generaly.CarManufacturery
		org.lunifera.samples.carstore.entities.generaly.Basey
		</property>
		
		<property name="service.pid" type="String" value="org.lunifera.samples.carstore.dtos.generaly.mapper.carmanufacturerydtomapper"/>
		<reference name="bind" interface="org.lunifera.dsl.dto.lib.IMapperAccess" 
				cardinality="1..1" policy="static" bind="bindMapperAccess" unbind="unbindMapperAccess"/>
</scr:component>
