/AccessoryDto.java
/AddressDto.java
/AmountDto.java
/BaseDto.java
/CarDto.java
/CarManufacturerDto.java
/CascadeNoDto.java
/CascadeRootDto.java
/CascadeYesDto.java
/ConfigDetailDefinitionDto.java
/ConvertibleDto.java
/CurrencyDto.java
/CustomerDto.java
/ItemDto.java
/LengthDto.java
/NumberedWithDescriptionDto.java
/PaymentTermDto.java
/PickupDto.java
/PriceDto.java
/QuantityDto.java
/RoofType.java
/SiType.java
/UOMFamily.java
/UnitOfMeasureDto.java
/WeightDto.java
